/* Name: Elvia Gisella Adair*/

.container {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

h1, h2, h3, h4 {
    background-color: antiquewhite;
    color: black;
    border-color: 1px #D6A800;
    padding: 10px;
}

a {
   font-weight: bold;
   font-size: 1.25em;
   color: #5307eb;
   text-decoration: none;
}

a:hover {
    text-decoration: underline;
    background-color: #e1dde6;
}

a:visited {
    color: rgb(6, 39, 6);
}

html, body {
    font-size: 16px;
}
