/*
      Name: Gisella Adair
      Assignment: Module 3.2 Github Pages
      Date: January 25, 2026*/

.container {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    font-family: Arial, Helvetica, sans-serif
}

h1, h2, h3, h4 {
    background-color: antiquewhite;
    color: black;
    border: 1px solid #D6A800;
    padding: 10px;
}

a {
   font-weight: bold;
   color: #272aee;
   text-decoration: none;
}

a:hover {
    text-decoration: underline;
    background-color: #D6A800;
}

a:visited {
    color: rgb(113, 5, 122);
}

