/* Name: Elvia Gisella Adair
   Module 2.2-Assignment: Building a Web Page Exercise, Part 2 */

html, body {
    font-size: 16px;
}

p {
    font-weight: 400;
    line-height: 1.4em;
}

h1 {
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

h2 {
    font-weight: 500;
    text-align: left;
    padding-top: 15px;
}

address {
    text-align: center;
}

a {
   font-weight: bold;
   font-size: 1.25em;
   color: #4f3674;
   text-decoration: none;
}

a:hover {
    text-decoration: underline;
    background-color: #D6A800;
}

a:visited {
    color: green;
}

.sentence {
    font-style: italic;
}

.intro {
    text-indent: 2em;
}