/*
      Name: Gisella Adair
      Assignment: Module 3.3 Build a Webpage Exercise, Part 3
      Date: January 25, 2026*/

      h1{
        text-align: center;
      }

    .left, .right{
        width: 45%;
        display: inline-block;
        vertical-align: top;
    }

    #bottom-div{
        width: 100%;
        margin-top: 60%;
        float: right;
        margin-bottom: 20px;
    }

    h3{
      font-weight: 500;
      border: 1px solid red;
      border-radius: 15px;

    }

    ol{
        font-weight: 300;
        border: 1px solid red;
        border-radius: 15px;
        padding: 10px;
        list-style-position: inside;
    }

    ul{
        font-weight: 300;
        border: 1px dashed red;
        border-radius: 15px;
        padding: 10px;
        list-style-type: upper-roman;
        list-style-position: inside;
    }


    a {
        text-decoration: none;
        color: rgb(50, 11, 112);
    }

     a:hover {
        text-decoration: underline;
    }


    
    